.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 20px 0;
  background-color: #af4747;

  h2 {
    text-align: center;
    margin: 0;
    color: #fff;
  }
}

.layout {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;

  main {
    background-color: #e5e5e5;
    width: 100%;
    padding: 50px 60px;
  }

  aside {
    padding: 40px;
  }
}
