.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 20px 0;
  background-color: #af4747;

  h2 {
    text-align: center;
    margin: 0;
    color: #fff;
  }
}

.layout {
  display: grid;
  flex-grow: 1;
  grid-template-columns: 1fr 465px;

  main {
    background-color: #e5e5e5;
    width: 100%;
    padding: 50px 60px;
  }

  aside {
    padding: 0 40px 40px;
    overflow-y: auto;
    background-color: #fff;
  }
}
